# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=Admin@123
DB_NAME=course

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT configuration
JWT_SECRET=supersecret

# Environment
ENV=local
MAX_QUERY_EXECUTION_TIME=500
