# API Gateway Port
PORT=3000

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT configuration
JWT_SECRET=supersecret

# MinIO configuration
MINIO_ENDPOINT=http://192.168.50.22:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=Admin@123
MINIO_BUCKET_NAME=courses
MINIO_PUBLIC_URL=http://192.168.50.22:9000/courses

# Environment
ENV=local
